beautifulsoup4
braindecode
certifi
charset-normalizer
contourpy
cycler
decorator
filelock
fonttools
gdown
idna
ipykernel
Jinja2
joblib
kiwisolver
lazy_loader
MarkupSafe
matplotlib
mne
numpy
packaging
pandas
pillow
platformdirs
pooch
pyarrow
pyparsing
PySocks
python-dateutil
pytz
requests
scikit-learn
scipy
setuptools
six
soupsieve
threadpoolctl
tqdm
typing_extensions
tzdata
urllib3
wheel